body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > * {
    display: inline-block;
}

h1 {
    text-align: center;
}

.high-scores {
    margin: 10px 0px 0px 10px;
    display: inline-block;
}

#time_sec {
    float: right;
    margin: 10px 20px 0px 0px;
}

.time_text {
    float: right;
    margin: 10px 15px 0px 0px;
}

.Quiz-info-box {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 60%;
}

#Quiz-title {
    font-size: 200%;
}

.Question-title {
    font-size: 150%;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
}

p {
    overflow: wrap;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

button {
    background-color: navy;
    font-size: large;
    color: white;
    border: none;
    padding: 7px 14px 7px 14px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}



p {
    margin: 0px;
}

.answers {
    display: block;
}

.one {
    margin-top: 10px;
}

.two {
    margin-top: 6px;
}

.three {
    margin-top: 6px;
}

.four {
    margin-top: 6px;
}